
@{
    ViewData["Title"] = "Travel";
}

<h1>Travel</h1>

<div class="card" id="TravelCard" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

@section Scripts{
    <script src="~/datas/travel.js"></script>
    <script>
        console.log(spots)

        const datas = spots.CommonFormat.Section.map(Section => {
            const { RowNumber, REF_WP, CAT1, CAT2, SERIAL_NO, MEMO_TIME, stitle, xbody, avBegin, avEnd, idpt, address, xpostDate } = data
            return(
            )
        })
        $('#TravelCard>div').html(datas.join(''));

    </script>
}

